* {
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    display: block;
    margin-top: 1rem;
    background-color: white;
    border: 0;
    padding: 5px;
    box-shadow: 2px 2px 1px black;
    color: purple;
    font-weight: 900;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(127, 170, 255);
}

.recipe {
    margin-top: 1rem;
    text-align: center;
    background-color: blueviolet;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 1px black;
    color: white;

}